doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document home
		link(rel="stylesheet" href="css/app.min.css")
 
	body
		p 11111111djsdjssd s  sdsd Далеко-далеко за словесными горами в стране, гласных и согласных...
 
		//Подключаем оптимизированное изображение
		img(src="images/image.webp" alt="Alt")
 
		//Подключаем скрипты проекта
		script(src="js/app.min.js")
 
